# vi: ft=bash
# shell agnostic aliases file

alias top='htop'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias ping='ping -c 5'
alias nrc='nvim ~/.config/nvim/init.lua'
alias tr='tree -C -L 1'
alias tree='tree -C -L 2' # by default it stops at 2 levels deep
alias treee='tree -C -L 3'
alias vg='vagrant global-status'
alias opn='open-cli'
alias ls='ls -G'
alias vp='vim package.json'
alias c='clear'
alias t='tmux'
alias cap='cat package.json'
alias dc='docker compose'
alias gcd='cd $(git rev-parse --show-toplevel)'
alias e='nvim'
alias ti='typedi'
alias npms='npm start'
alias pen='pipenv'
alias vimrc='nvim ~/.config/nvim/init.lua'
alias ibrew='arch -x86_64 /usr/local/bin/brew'
alias gpu='git pull origin trunk'
alias python='python3'
alias vim='nvim'
alias config='/usr/bin/git --git-dir=$HOME/.mydots/ --work-tree=$HOME'
alias tree='tree -I node_modules'
